@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root {  
   --rotateY: 0deg;
   --rotateX: 0deg;
   --primary-bg-color: #292929;
   --primary-border-color: #6b6b6b;
   --default-border-width: 1.8px;
   --lateral-menu-width:  30vw;
   --contrast-color: #fe5423;
   --secondary-contrast-color: #f1f1f1;
   --terciary-contrast-color: #1e1e1e;
   --transparent: #00000000;
}

body {
   font-family: Arial, sans-serif;
   margin: 0;
   padding: 0;
   display: flex;
   overflow: hidden;
   height: 100vh;
   background-color: #f0f0f0;
   flex-direction: column;
   background-image: url('/static/images/background.png');
   background-size: cover;
}

textarea {
   resize: none;
}

.oculta {
   display: none;
}

.menu-part {
   display: flex;
   flex-direction: column;
}

.menu-part.report {
   width: 100%;
}

#lateralMenu {
   position: absolute;
   width: 29.3rem;
   transform: translateX(calc(-1 * var(--lateral-menu-width)));
   height: 100vh;
   border-style: solid;
   border-width: 0;
   border-color: var(--primary-border-color);
   background-color: var(--primary-bg-color);
   display: flex;
   transition: all 500ms;
   flex-direction: column;
   padding: 0.7rem;

   left: 0;
   z-index: 100;
}
#lateralMenu.active {transform: translateX(0); border-width: 0 var(--default-border-width) 0 0;}

.categories-element {
   padding: 2% 4%;
   background-color: var(--secondary-contrast-color);
   color: var(--primary-bg-color);
   font-size: 14pt;
   width: fit-content;
}

.categories-element.report {
   font-size: 18pt;
}

.categories-container {
   border-width: var(--default-border-width);
   border-color: var(--primary-border-color);
   border-style: dashed;
   color: white;
   font-size: 9pt;
   gap: 12px;
   padding: 12px 12px;
   display: flex;
   flex-direction: column;
}

.categories-container.report {
   background-color: var(--primary-bg-color);
   display: block;
}

.element-container {
   font-size: 14pt;
   font-family: 'inter', sans-serif;
   font-weight: 300;
   text-wrap: nowrap;
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 0% 0% 2% 0;
}

.input-container {
   font-family: 'inter', sans-serif;
   border-style: solid;
   border-color: var(--primary-border-color);
   border-width: var(--default-border-width);
   color: #fff;
   transition: all 500ms;
   cursor: text;
   padding: 2% 4%;
   width: 30%;
   font-weight: 400;
   background-color: var(--primary-bg-color);
   font-size: 12pt;
}

.select-container {
   font-family: 'inter', sans-serif;
   border-style: solid;
   border-color: var(--primary-border-color);
   border-width: var(--default-border-width);
   color: #fff;
   cursor: pointer;
   transition: all 500ms;
   padding: 2% 4%;
   width: 30%;
   font-weight: 400;
   background-color: var(--primary-bg-color);
   font-size: 12pt;
}

form {
   display: flex;
   justify-content: center;
   flex-direction: column;
   width: 100%;
}

.message-screen {
   width: 100%;
   height: 100%;
   position: absolute;
   background-color: #1e1e1e;
   z-index: 2000000000000000000;
   
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}
.message-screen img {
   width: 30%;
   margin-bottom: 6%;
}

.message-screen-span {
   font-size: 30pt;
   color: #f0f0f0;
   font-weight: 600;
}

.message-screen-p {
   font-size: 11pt;
   width: 60%;
   color: #8e8e8e;
   font-weight: 400;
   text-align: center;
}
#loadingScreen {
   z-index: 3000000000000000001;
}
#loadingScreen.skip {
   animation: skipLoadingScreen 1000ms forwards;
}
#loadingScreen.show {
   animation: showFinalScreen 500ms forwards
}
#loadingScreen span {
   color: #fff;
   font-weight: 500;
   font-size: 16pt;
}
.loading-screen-img {
   width: 400px;
   animation: bounceLoading 2000ms ease-in-out infinite;
}
@keyframes bounceLoading {
   0% {transform: scale(1);}
   50% {transform: scale(1.05);}
}
@keyframes skipLoadingScreen {
   0% {opacity: 1;}
   90% {opacity: 1;}
   100% {opacity: 0;}
}
@keyframes showFinalScreen {
   from {opacity: 0;}
   to {opacity: 1;}
}
.effects-container {
   box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 140px 40px inset;
   background: linear-gradient(transparent 50%, rgba(255, 255, 255, 0.02) 51%) 0% 0% / 100% 90px;
   animation: 30s linear 0s infinite normal none running tv-effect;
   pointer-events: none;
   width: 100vw;
   height: 100vh;
   z-index: 5;
   position: absolute;
   display: block;
   filter: blur(12px);
}
#effectContainer.ativo {
   display: none;
}
@keyframes tv-effect {
   0% {background-position: 0px 125%; opacity: 1;}
   20% {opacity: 0.9; box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 140px 40px inset;}
   21% {opacity: 0.4; box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 140px 40px inset;}
   22% {opacity: 1; box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 140px 40px inset;}
}
#idContainer {
   position: absolute;
   left: 0;
   margin: 0.5% 0.5% 0% 0.5%;
   display: flex;
}

#roomId {
   margin: 0;
   position: relative;
}

.id-btn {
   width: 20px;
   padding-right: 2%;
   pointer-events: all;
   cursor: pointer;
}

#eyeBtn {
   padding-left: 6%;
}

.context-box {
   padding: 0.5% 0.7%;
   border-radius: 5px;
   border-style: solid;
   border-width: 1px;
   border-color: #3f3f3f;
   color: white;
   transform: scale(0.9);
   background-color: #252525;
   opacity: 0;
   transition: opacity 200ms ease-in-out;
}

.context-box.appear {
   opacity: 1;
}

.container {
   width: 80%;
   background-color: #fff;
   padding: 20px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   border-radius: 8px;
}
.player-combinations {
   margin-bottom: 20px;
}
.player-combinations h2 {
   margin-bottom: 10px;
}
.combination {
   display: flex;
   align-items: center;
   margin-bottom: 10px;
}
.combination img {
   max-width: 100px;
   margin-right: 20px;
}
.combination p {
   margin: 0;
}
#timer {
   display: none;
   font-size: 20pt;
   font-weight: 600;
   border-radius: 7%;
   transition: all 0.5s;
   z-index: 1;
   color: #683e00;
}
#playerList {
   border-radius: 5px;
   margin: 2%;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   gap: 2%;
   transition: all 700ms;
}
#playerList.desappear {
   display: none;
}

#playerList.ofuscado {
   filter: blur(10px);
}
.fodao {
   padding: 1% 5%;
   border-radius: 5px;
   box-shadow: inset 0px 0px 10px 0px #3c1a06;
   opacity: 1;
}

#motivoInput {
   width: 97%;
   padding: 2% 1%;
}

#descricaoInput {
   width: 97%;
   padding: 2% 1%;
   height: 6rem;
}

.primary-btn {
   font-weight: 300;
   font-size: 16pt;
   background-color: #1e1e1e;
   border-style: none;

   font-family: 'inter', sans-serif;
   text-wrap: nowrap;
   margin-top: 8%;
   padding: 6% 8%;
   color: #fff;
   border-width: 1.8px;
   cursor: pointer;
   display: flex;
   align-items: center;
   justify-content: center;
}
.primary-btn:hover {
   background-color: #f1f1f1;
   color: black;
}

.primary-btn.desappear {
   transition: all 500ms;
   opacity: 0;
}

.primary-btn img {
   margin-left: 0.5vw;
}

.secondary-btn {
   font-family: 'inter', sans-serif;
   font-weight: 200;
   font-size: 12pt;
   padding: 2% 6%;
   border-style: none;
   background-color: var(--terciary-contrast-color);
   color: var(--secondary-contrast-color);
   cursor: pointer;
}

.secondary-btn:hover {
   background-color: var(--secondary-contrast-color);
   color: var(--primary-bg-color);
}

#sendReportBtn {
   margin-top: 3%;
}

.iluminacao {
   position: absolute;
   transform: scale(1.8);
   mix-blend-mode: soft-light;
   z-index: -123;
}

.sign {
   width: 160px;
   height: 70px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 2%;
   color: #f0f0f0;
   font-weight: 600;
   filter: drop-shadow(0px 4px 2px #00000030);
   font-size: 14pt;
   background-size: 92%;
   background-repeat: no-repeat;
   background-position: center;
   background-image: url('/static/images/plaquinha.png');
}

h1 {
   color: #f0f0f0;
   position: absolute;
}
.inside {
   height: 100vh;
   justify-content: center;
   display: flex;
   flex-direction: column;
   align-items: center;
}
#timer.appear {
   transition: all 0.5s;
   left: 0;
}
.menu-inicial {
   display: flex;
   justify-content: center;
   z-index: 20;
   align-items: center;
}

.no-style-btn {
   border-style: none;
   font-size: 9.5pt;
   border-color: none;
   border-image: initial;
   background-color: #00000000;
   color: #fff;
   padding: 0;
   border-radius: 6px;
   font-family: "Inter", sans-serif;
   font-weight: 400;
   width: 100%;
   text-wrap: nowrap;
   text-overflow:ellipsis; 
   white-space:nowrap; 
   overflow:hidden;
}

.menu-inicial img {
   height: 24px;
   width: 29px;
}
.matchup {
   display: flex;
   justify-content: center;
   width: 100%;
   transition: all 500ms ease-in;
   gap: 150vw;
}
.matchup.appear{
   gap: 18vw;
   transition: all 500ms ease-in;
}
#matchups{
   width: 100%;
}
.fodinha {
   filter: drop-shadow(0 0 30px #000000b1);
   display: flex;
   align-items: center;
   flex-direction: column;
}

.fodinha.perdedor {
   animation: caindo 900ms ease-in forwards;
}

.drawings {
   width: 446px;
   background-repeat: no-repeat;
   background-position: center;
   filter: brightness(0.6);
}

.drawings.perdedor {
   animation: caindo 900ms ease-in forwards;
   z-index: 2;
}

.drawings.aparecendo {
   animation: fadeInLow 200ms ease-in forwards;
   z-index: 2;
}
.phrase-container.perdedor {
   animation: caindo 900ms ease-in 500ms forwards;
}
.phrases {
   font-weight: 600;
   color: #f0f0f0;
   text-wrap: wrap;
   text-align: center;
   font-size: 12pt;
   width: 60%;
   box-shadow: inset 0px 0px 10px 0px #3c3006e0;
   border-radius: 6px;
   padding: 2.5%;
}
.phrase-container {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 20px;
   height: 66px;
   width: 100%;
   background-image: url('/static/images/molduraTitulo.png');
   background-repeat: no-repeat;
   background-size: 100%;
   filter: brightness(0.54);
}
.phrase-container-hold {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 20px;
   height: 66px;
   width: 100%;
   background-image: url('/static/images/molduraTitulo.png');
   background-repeat: no-repeat;
   background-size: 100%;
   filter: brightness(0.54);
}
.drawing-hold {
   width: 446px;
   background-repeat: no-repeat;
   background-position: center;
   filter: brightness(0.6);
}

.phrases-hold {
   filter: brightness(0.54);
   background-image: url('/static/images/molduraTitulo.png');
   width: 100%;
   background-repeat: no-repeat;
   background-size: 100%;
   height: 66px;
   margin-top: 20px;
   font-weight: 600;
   color: #f0f0f0;
   text-wrap: wrap;
   font-size: 14pt;
   display: flex;
   align-items: center;
   justify-content: center;
}

.character-image {
   width: 150px;
   filter: drop-shadow(0px 4px 2px #00000030);
   padding-bottom: 5%;
}

.player-container {
   border-radius: 12px;
   transition: all 500ms;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.player-container.in-game {
   opacity: 0.6;
}

.player-del-btn {
   width: 20px;
   height: 20px;
   position: absolute;
   padding: 3px;
   margin-top: 220px;
   margin-left: 130px;
   border-radius: 20px;
   background-color: #1e1e1e;
   background-image: url('/static/images/cross.svg');
   background-size: 100%;
   opacity: 0.7;
   border-color: var(--secondary-color);
   border-width: 1.8px;
   border-style: solid;
   z-index: 2;
   cursor: pointer;
}

.player-del-btn:hover {
   background-color: #252525;
   opacity: 1;
}

.player-del-btn.in-game {
   display: none;
}

#inside {
   transition: all 700ms;
}

#inside.ofuscado {
   backdrop-filter: blur(10px);
}

@keyframes caindo {
   0% {
      transform: rotateZ(0deg);
      transform-origin: top left;
   }
   15% {
      transform: translateY(0) rotateZ(20deg);
   }
   30% {
      transform: translateY(0) rotateZ(20deg);
   }
   100% {
      transform: translateY(100vw) rotateZ(20deg);
   }
}

@keyframes wave {
   0%, 100% {
       transform: translateY(-80vh) rotate(0deg);
       filter: url(#wave);
   }
   20% {
      transform: translateY(0vh) rotate(0deg);
   }
   80% {
      transform: translateY(0vh) rotate(0deg);
   }
}


#interfaceContainer{
   width: 100%;
   right: 0;
   position: absolute;
   display: flex;
   justify-content: end;
   z-index: 100;
   top: 0;
   height: 100vh;
   pointer-events: none;
}

.btn-interface {
   height: 25px;
   margin: 15px 15px 15px 0%;
   right: 0;
   cursor: pointer;
   z-index: 101;
   top: 0;
   pointer-events: all;
}

.timer-container {
   display: flex;
   align-items: center;
   justify-content: center;

   position: absolute;
   left: 0;
   margin: 1%;

   width: 100px;
   height: 110px;
}

#timerContainer.appear {
   transform: translateX(0);
   transition: all 500ms ease-in-out;
}

#timerContainer {
   transform: translateX(-500px);
   transition: all 500ms ease-in-out;
}

.timer-container img {
   width: 100%;
   position: absolute;
}

.timer-clock {
   filter: drop-shadow(0px 8px 5px #00000048);
}

.btn-interface:nth-child(2) {
   margin: 15px 15px 15px 0;
   padding: 0;
}

#rounds {
   position: absolute;
   width: 18%;
   align-self: center;
   z-index: 2;
   transition: all 600ms ease-in;
   filter: brightness(0.2);
   transform: translateY(-80vh);
}

#rounds.aparecendo {
   transition: all 600ms ease-out;
   transition: filter 1000ms ease-out, all 600ms ease-out;
   filter: brightness(0.8);
   transform: translateY(0vh);
}

#roundsLow {
   position: absolute;
   height: 70vh;
   align-self: center;
   z-index: 2;
   transition: all 100ms ease-in;
   transform: translateY(0vh);
   animation: fadeOutLow 100ms ease-in-out forwards;
   opacity: 0;
}

#roundsLow.aparecendo {
   animation: fadeInLow 100ms ease-in-out forwards;
}

#logo {
   position: absolute;
   height: 80vh;
   align-self: center;
   transition: all 600ms ease-in;
   filter: brightness(0.2);
   z-index: 2;
   transform: translateY(-70vh);
}

#logo.aparecendo {
   position: absolute;
   height: 80vh;
   align-self: center;
   transition: all 600ms ease-out;
   filter: brightness(0.6);
   transform: translateY(0vh);
}

#logoLow {
   position: absolute;
   height: 70vh;
   align-self: center;
   transition: all 100ms ease-in;
   opacity: 0;
   z-index: 2;
   transform: translateY(0vh);
}

#logoLow.aparecendo {
   transition: all 100ms ease-out;
   opacity: 1;
}

@keyframes fadeInLow {
   from {opacity: 0;}
   to {opacity: 1;}
}

@keyframes fadeOutLow {
   from {opacity: 1;}
   to {opacity: 0;}
}

#show {
   position: absolute;
   height: 80vh;
   align-self: center;
   transition: all 700ms ease-in;
   filter: brightness(0.2);
   z-index: 2;
   transform: translateY(80vh);
}

#show.aparecendo {
   position: absolute;
   height: 80vh;
   align-self: center;
   transition: all 700ms ease-out;
   filter: brightness(0.6);
   transform: translateY(0vh);
}

#iluminacao {
   position: absolute;
   height: 80vh;
   display: none;
   align-self: center;
   z-index: 3;
   opacity: 0.9;
   filter: blur(70px);
   mix-blend-mode: screen;
}

#iluminacao.final {
   display: block;
   right: 5%;
   opacity: 0.6;
   height: 700px;
}

#iluminacao.aceso {
   opacity: 0.9;
   display: block;
}

.iluminacao-matchup {
   position: absolute;
   z-index: 3;
   opacity: 0.9;
   height: 70vh;
   width: 70vh;
   display: block;
   transform: translateY(0);
   filter: blur(70px);
   mix-blend-mode: screen;
   height: 80vh;
   display: none;
   align-self: center;
}

.iluminacao-matchup.aceso {
   opacity: 0.9;
   display: block;
}

#circleLow {
   position: fixed;
   width: 100vw;
   height: 100vh;
   background-color: rgb(0, 0, 0);
   opacity: 0;
   z-index: 2;
}

#circleLow.open {
   animation: fadeOutLow 600ms ease-in-out forwards;
}

#circleLow.close {
   animation: fadeInLow 600ms ease-in-out forwards;
}

#circle {
   position: fixed;
   top: 50%;
   left: 50%;
   width: 200vw;
   height: 200vh;
   background-color: rgba(0, 0, 0, 0);
   z-index: 2;
   border-radius: 50%;
   border: solid 100vw black; /* Cria as bordas pretas ao redor do círculo transparente */
   transform: translate(-50%, -50%);
}

#circle.open {
   animation: openCircle 1.2s ease-in forwards;
}

#circle.close {
   animation: closeCircle 1.2s ease-out forwards;
}

#circle.final-round {
   animation: finalCircle 1.2s ease-out forwards
}

@keyframes closeCircle {
   from {
       width: 200vw;
       height: 200vw;
       border-width: 100vw; /* Borda inicial larga */
   }
   to {
       width: 0;
       height: 0;
       border-width: 100vw; /* Borda final fechando o círculo */
   }
}

@keyframes openCircle {
   from {
       width: 0;
       height: 0;
       border-width: 100vw; /* Borda final fechando o círculo */
   }
   to {
      width: 200vw;
      height: 200vw;
      border-width: 100vw; /* Borda inicial larga */
  }
}

@keyframes finalCircle {
   from {
       width: 0;
       height: 0;
       border-width: 100vw; /* Borda final fechando o círculo */
       left: 27vw;
   }
   to {
      left: 27vw;
      width: 45vw;
      height: 45vw;
      border-width: 100vw; /* Borda inicial larga */
  }
}

#barreira {
   position: absolute;
   background-image: url(/static/images/barreira.png);
   background-size: 100%;
   background-repeat: repeat-x;
   background-position: bottom;
   filter: blur(2px);
   opacity: 0.92;
   height: 151px;
   width: 100%;
   bottom: 0;
   z-index: 1;
}

#barreira.animada{
   animation: bounceBarreira 700ms ease-in-out infinite;
}

.voter-image {
   animation: bounceVote 500ms ease-in-out;
   width: 50px;
   filter: drop-shadow(0 4px 9px #000000b1);
}

@keyframes bounceVote {
   0% {transform: translateY(0px);}
   50% {transform: translateY(-10px);}
}

@keyframes aparecerIluminacao {
   from {transform: translateY(-70vh);}
   to {transform: translateY(10vh);}
}

@keyframes bounceBarreira {
   0% {transform: translateY(0px);}
   50% {transform: translateY(10px);}
}

body {
   backdrop-filter: brightness(1);
}

body.desligado {
   backdrop-filter: brightness(0.6);
}

.voters-container {
   position: absolute;
   height: 40px;
   width: 350px;
   display: flex;
   justify-content: center;
   flex-direction: row;
   filter: brightness(0.8);
   z-index: 2;
}

.caption-container {
   z-index: 100;
   position: absolute;
   color: #ffde26;
   text-shadow: 0 3px black;
   bottom: 0;
   font-size: 14pt;
   font-weight: 600;
   text-align: center;
   padding-bottom: 1.7%;
   width: 100%;
   pointer-events: none;
}

.caption-container.teste {
   position: relative;
   margin-top: 5vh;
}

#subtitles {
   display: none;
}

#subtitles.active {
   display: block;
}

.perdedor-container {
   z-index: -1;
   position: absolute;
   display: flex;
   align-self: center;
   align-items: center;
   justify-content: center;
   justify-self: center;
   flex-direction: column;
   top: 25%;
}
.vencedor-container {
   z-index: 2;
   filter: brightness(0.6);
   position: absolute;
   display: flex;
   align-self: center;
   align-items: center;
   justify-content: center;
   justify-self: center;
   flex-direction: column;
   bottom: -6%;
   right: -36px;
}

.perdedor-image {
   display: flex;
}

.perdedor-sign {
   display: flex;
   padding-top: 6%;
}

#matchups.final-round {
   display: flex;
   align-items: center;
   justify-content: center;
}

.matchup.final-round {
   width: 70vw;
   align-self: center;
   align-items: center;
   justify-content: space-between;
}

#playerListR2 {
   display: flex;
   position: absolute;
   z-index: 2;
   top: 50%;
   left: 50%;
   filter: brightness(0.7);
   opacity: 0;
   transform: translate(-50%, -50%);
}

#playerListR2.appear {
   animation: up-player-list 700ms ease-in-out forwards;
}

@keyframes up-player-list {
   from{transform: translate(-50%, -320%);
   opacity: 0;}
   to{transform: translate(-50%, -50%);
   opacity: 1;}
}

#playerListR2.appearLow {
   animation: fadeInLow 200ms ease-in-out forwards;
}

#skipRoundBtn {
   position: absolute;
   bottom: -20vh;
   transition: all 500ms;

   width: fit-content;
   height: fit-content;

   padding: 0.5% 0.7%;
   margin: 0% 2% 2% 0%;
   align-items: center;
   display: flex;
   cursor: pointer;
}

#skipRoundBtn.aparecendo {
   bottom: 0;
}

#skipRoundBtn img {
   height: 18px;
}

#roundContainer {
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: 2;
   
   position: absolute;
   width: 100vw;
   height: 100vh;
}

#version {
   color: white;
   position: absolute;
   bottom: 0;
   left: 0;
   padding: 0.2%;
   font-size: 8pt;
}

#messageContainer {
   display: none;
   width: 100%;
   align-items: center;
   justify-content: center;
   position: absolute;
   margin-bottom: 2%;
   bottom: 0;
   opacity: 0;
   transition: all 500ms;
   z-index: 4;
}

#messageContainer.appear {
   display: flex;
   opacity: 1;
}

.message-interface {
   width: 40%;
   display: flex;
   background-color: #1e1e1e;
   scale: 0.8;
   color: white;
   padding: 1% 2%;
   border-width: 1px;
   border-color: #3f3f3f;
   border-style: solid;
   transform: skewX(16deg);
   box-shadow: inset 0 0 4px 1px #00000052;
   align-items: center;
}

.message-interface img {
   width: 30px;
   background-color: #fff;
   border-radius: 50%;
   transform: skewX(-16deg);
   margin-right: 4%;
}

.message-interface-texts {
   transform: skewX(-16deg);
   display: flex;
   flex-direction: column;
}

#usernameMessage {
   margin-bottom: 2%;
   font-size: 10pt;
}

#responseMessage {
   opacity: 0.6;
}

.menu-container {
   display: flex;
   flex-direction: column;
   gap: 1%;

   width: 25vw;
   height: 35vh;
   position: absolute;
   z-index: 1000;

   transform: scale(0);
   transition: transform 300ms ease-in-out;
}

#reportMenu {
   height: min-content;
}

#videoOption {
   display: none;
}

#audioOption {
   display: none;
}

#accessibilityOption {
   display: none;
}

#gameMenu h1 {
   position: relative;
}

#gameMenu h2 {
   margin: 0;
   margin-bottom: 4%;
   font-size: 18pt;
   font-weight: 600;
   color: white;
}

.menu-container.ativo {
   transform: scale(1);
}

#reportMenu h2 {
   margin-top: 0;
}

.element-container.report {
   flex-direction: column;
   align-items: flex-start;
}

.element-container.report label {
   font-size: 11pt;
}

#reportForm {
   display: flex;
   gap: 12px;
}

.select-bar {
   display: flex;
   align-items: center;
   justify-content: space-evenly;

   width: 100%;
   padding: 4% 0;
   margin: 4% 0;
   border-style: solid;
   border-width: 0 0 var(--default-border-width) 0;
   background-color: var(--contrast-color);
   border-color: var(--primary-border-color);
   clip-path: polygon(63% 0, 67% 11%, 71% 0, 100% 0, 100% 100%, 50% 100%, 5% 100%, 0% 70%, 0% 35%, 0 0);
}

.bar-element {
   color: var(--primary-bg-color);
   text-decoration: underline;
   cursor: pointer;
   font-weight: 200;
   color: white;
   text-decoration: none;
   font-size: 16pt;
   padding: 0.2rem 0.4rem;
}
.bar-element.ativo {
   color: var(--primary-bg-color);
   background-color: var(--secondary-contrast-color);
   text-decoration: underline;
   font-weight: 200;
   text-decoration: none;
   font-size: 16pt;
   padding: 0.2rem 0.4rem;
}

.bar-element:hover {
   color: var(--primary-bg-color);
   background-color: var(--secondary-contrast-color);
   text-decoration: underline;
   font-weight: 200;
   text-decoration: none;
   font-size: 16pt;
   padding: 0.2rem 0.4rem;
}

.menu-interactive {
   display: flex;
   flex-direction: column;
   align-items: start;
   overflow-y: scroll;
   scrollbar-width: none;
   height: 100%;
   color: white;
}

.menu-interactive button {
   align-self: center;
}

.volume-control {
   display: flex;
   width: 100%;
}

.volume-slider-label {
   text-wrap: nowrap;
}

#volume-slider {
   width: 100%;
}

/*********** Baseline, reset styles ***********/
input[type="range"] {
   -webkit-appearance: none;
   appearance: none;
   background: transparent;
   cursor: pointer;
   width: 25rem;
 }
 
 /* Removes default focus */
 input[type="range"]:focus {
   outline: none;
 }
 
 /******** Chrome, Safari, Opera and Edge Chromium styles ********/
 /* slider track */
 input[type="range"]::-webkit-slider-runnable-track {
   background-color: #ffffff;
   border-radius: 0.5rem;
   height: 0.5rem;
 }
 
 /* slider thumb */
 input[type="range"]::-webkit-slider-thumb {
   -webkit-appearance: none; /* Override default look */
   appearance: none;
   margin-top: -4px; /* Centers thumb on the track */
   background-color: #fe5423;
   border-radius: 0rem;
   height: 1rem;
   width: 1rem;
 }
 
 input[type="range"]:focus::-webkit-slider-thumb {
   outline: 3px solid #fe5423;
   outline-offset: 0.125rem;
 }
 
 /*********** Firefox styles ***********/
 /* slider track */
 input[type="range"]::-moz-range-track {
   background-color: #ffffff;
   border-radius: 0.5rem;
   height: 0.5rem;
 }
 
 /* slider thumb */
 input[type="range"]::-moz-range-thumb {
   background-color: #fe5423;
   border: none; /*Removes extra border that FF applies*/
   border-radius: 0rem;
   height: 1rem;
   width: 1rem;
 }
 
 input[type="range"]:focus::-moz-range-thumb{
   outline: 3px solid #fe5423;
   outline-offset: 0.125rem;
 }

.inativo {
   position: absolute;
   z-index: 99;
   width: 100vw;
   height: 100vh;
   background-color: #00000059;
}

#creditosContainer {
   z-index: 100;
   text-align: center;
   scale: 1.2;
   width: 16vw;
   animation: subirCreditos 100s forwards;
   display: flex;
   flex-direction: column;
}

#creditosContainer.final {
   opacity: 0.9;
   filter: brightness(0.75);
}

.h1-creditos {
   color: #f0f0f0;
   font-size: 20pt;
   position: relative;
   text-wrap: nowrap;
}
.p-creditos {
   color: #f0f0f0c7;
   font-size: 14pt;
   position: relative;
}

.list-creditos {
   list-style: none;
   margin: 0;
   padding: 0;
}

.list-element-creditos {
   display: flex;
   color: #f0f0f0c7;
   justify-content: space-between;
   margin-bottom: 2%;
}

.creditos-element {
   margin-bottom: 20%;
}

.span-creditos {
   color: #f0f0f0;
}

.logo-creditos {
   padding-top: 10%;
   width: 60%;
   align-self: center;
}

.final-btn {
   font-family: 'inter', sans-serif;
   font-weight: 800;
   font-size: 12pt;
   margin-bottom: 1%;
   padding: 0.5% 0.7%;
   border-radius: 5px;
   border-style: solid;
   border-color: #3f3f3f;
   background-color: #1e1e1e;
   color: #fff;
   border-width: 1.8px;
   cursor: pointer;
   transition: all 500ms;
}

.final-btn:hover {
   background-color: #252525;
}

@keyframes subirCreditos {
   from {
      transform: translateY(90vh);
   }
   to {
      transform: translateY(-90vh);
   }
}

#finalLogo {
   width: 150px;
   position: absolute;
   left: 0;
   bottom: 0;
   z-index: 10000;
   padding: 1%;
}

#setting.roll {
   animation: settingsRoll 500ms ease-in-out forwards;
   transform-origin: center;
}

#fullscreen.pop {
   animation: fullscreenPop 500ms ease-in-out forwards;
}

#report.pop {
   animation: fullscreenPop 500ms ease-in-out forwards;
}

@keyframes settingsRoll {
   from {
      transform: rotate(180deg);
      scale: 0.9;
   }
   to {
      transform: rotate(0deg);
      scale: 1;
   }
}

@keyframes fullscreenPop {
   from {
      scale: 0.9;
   }
   to {
      scale: 1;
   }
}

#errorContainer {
   width: 100%;
   height: 30px;
   background-color: #252525;
   display: flex;
   align-items: center;
   justify-content: center;
   position: absolute;
   opacity: 0;
   bottom: 0;
   font-size: 10pt;
}

#errorContainer.appear {
   animation: errorAppear 9000ms ease-in-out forwards;
}
#errorMsg {
   color: white;
}

@keyframes errorAppear {
   0% {
       opacity: 0;
   }
   
   2% {
       opacity: 1;
   }
   98% {
       opacity: 1;
   }
   100% {
       opacity: 0;
   }
}