:root {
    --primary-color: #1e1e1e;
    --secondary-color: #3f3f3f;
    --rotateY: 0deg;
    --rotateX: 0deg;
    --primary-bg-color: #292929;
    --primary-border-color: #6b6b6b;
    --default-border-width: 1.8px;
    --lateral-menu-width:  30vw;
    --contrast-color: #fe5423;
    --secondary-contrast-color: #f1f1f1;
    --terciary-contrast-color: #1e1e1e;
    --transparent: #00000000;
}

:host {
    --swiper-theme-color: #6b6b6b;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100vw;
    /*height: 100vh;*/
    background-color: var(--primary-bg-color);
    flex-direction: column;
    background-size: cover;
 }
 .no-style-btn {
   border-style: none;
   font-size: 9.5pt;
   border-color: none;
   border-image: initial;
   background-color: #00000000;
   color: #fff;
   padding: 0;
   border-radius: 6px;
   font-family: "Inter", sans-serif;
   font-weight: 400;
   width: 100%;
   text-wrap: nowrap;
   text-overflow:ellipsis; 
   white-space:nowrap; 
   overflow:hidden;
}
.sign {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    height: 50px;
    width: 200px;
    color: #f0f0f0;
    font-weight: 600;
    filter: drop-shadow(0px 4px 2px #00000030);
    font-size: 14pt;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/static/images/plaquinha.png');
}

.categories-container {
    border-width: var(--default-border-width);
    border-color: var(--primary-border-color);
    border-style: dashed;
    color: white;
    font-size: 9pt;
    gap: 12px;
    padding: 12px 12px;
    display: flex;
    flex-direction: column;
 }

 .categories-container.phrases {
    width: 30vw;
 }

 .categories-element {
    padding: 2% 6%;
    background-color: var(--secondary-contrast-color);
    color: var(--primary-bg-color);
    font-size: 9pt;
    width: fit-content;
}

.categories-element.counter {
    font-size: 14pt;
}

.categories-element.phrases {
    font-size: 14pt;
}

.menu-part {
    display: flex;
    flex-direction: column;
 }

.character-img {
    transform: rotate(0deg);
}

.character-img.error {
    animation: characterError 200ms ease-in-out forwards;
}

@keyframes characterError {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(5deg);}
    100% {transform: rotate(0deg);}
}

#userSelect {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.fodao {
    width: 70%;
    font-size: large;
    text-align: center;
    border-radius: 5px;
    box-shadow: inset 0px 0px 10px 0px #3c1a06;
    opacity: 1;
    background-color: #00000000;
    color: white;
    border-color: #00000000;
}

#canvas {
    border: var(--default-border-width) dashed var(--primary-border-color);
    touch-action: none;
}
#canvas:hover {
    cursor: crosshair;
}
#exportDrawingBtn {
    padding: 2.5% 7%;
}
#drawingArea {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.toolbar {
    margin-right: 40px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 13%;
}
.tool-colors {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    justify-content: center;
    padding: 4%;
    border-radius: 6px;
    width: 90px;
    flex: 1 0 21%; /* explanation below */
    gap: 4%;
    background-color: var(--primary-color);
    border-style: solid;
    border-color: var(--secondary-color);
    border-width: 1px;
}
.tool-colors button {
    width: 38.69px;
    height: 38.69px;
    border-radius: 100%;
    display: flex;
    margin: 3% 0;
    cursor: pointer;
    border-style: solid;
    border-color: var(--secondary-color);
    border-width: 1px;
    transition: all 500ms;
}
.tool-colors input {
    width: 38.69px;
    height: 38.69px;
    border-radius: 100%;
    display: flex;
    margin: 3% 0;
    cursor: pointer;
    border-style: solid;
    border-color: var(--secondary-color);
    border-width: 1px;
    transition: all 500ms;
    position: relative; /* Necessário para posicionar o pseudo-elemento */
}

.tool-colors input::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%; /* Ajuste conforme necessário */
    height: 50%; /* Ajuste conforme necessário */
    background-image: url('/static/images/player/eye-dropper.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1; /* Certifique-se de que está na frente */
}
input[type="color"] {
	-webkit-appearance: none;
	appearance: none;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}
.actual-color {
    width: 100%;
    height: 30px;
    margin: 6.5px;
    border-radius: 3px;
    border-color: var(--secondary-color);
    background-color: black;
    transition: all 500ms;
    border-width: 1px;
    border-style: solid;
}
.drawing-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.selection-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4vh 0;
    border-style: dashed;
    border-width: var(--default-border-width);
    border-color: var(--primary-border-color);
}
.selection-container select {
    width: 80%;
    cursor: pointer;
}

.selection-container select, .selection-container button {
    margin-top: 24px;
    padding: 2% 4%;
}
#round3 {
    display: none;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#round4 {
    display: none;
}

.colors:nth-child(1) {
    background-color: black;
    border-color: white;
}

.colors:nth-child(2) {
    background-color: white;
}

.colors:nth-child(3) {
    background-color: #FF0027;
}

.colors:nth-child(4) {
    background-color: #990000;
}

.colors:nth-child(5) {
    background-color: #00B02B;
}

.colors:nth-child(6) {
    background-color: #017405;
}

.colors:nth-child(7) {
    background-color: #0050FF;
}

.colors:nth-child(8) {
    background-color: #003BB5;
}

.colors:nth-child(9) {
    background-color: #FFC126;
}

.colors:nth-child(10) {
    background-color: #B0701C;
}

.colors:nth-child(11) {
    background-color: #D203D8;
}
.colors:nth-child(12) {
    background-color: #99004E;
}

#character {
    display: none;
}

.swiper-container {
    width: 300px;
}

swiper-slide {
    display: flex;
    justify-content: center;
}

swiper-slide img {
    filter: drop-shadow(0px 4px 2px #00000030);
}

.primary-btn {
    font-weight: 200;
    font-size: 16pt;
    background-color: var(--terciary-contrast-color);
    border-style: none;
 
    font-family: 'inter', sans-serif;
    text-wrap: nowrap;
    margin-top: 8%;
    padding: 6% 8%;
    color: #fff;
    border-width: var(--default-border-width);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .primary-btn:hover {
    background-color: #f1f1f1;
    color: black;
 }

 .primary-btn:hover .icon-btn {fill: var(--primary-bg-color);}
 
 .primary-btn.active-other .icon-btn {
     fill: var(--primary-bg-color);
 }
 .primary-btn.active-other {
    background-color: var(--secondary-contrast-color);
}


 .tool-other {
    display: flex;
    flex-direction: column;
}
.tool-other button {
    width: 50px;
    height: 50px;
    padding: 0;
}

.tool-other svg {
    width: 30px;
    height: 30px;
}

 .secondary-btn {
    font-family: 'inter', sans-serif;
    font-weight: 200;
    font-size: 12pt;
    padding: 2% 6%;
    border-style: none;
    background-color: var(--terciary-contrast-color);
    color: var(--secondary-contrast-color);
    cursor: pointer;
 }
 
 .secondary-btn:hover {
    background-color: var(--secondary-contrast-color);
    color: var(--primary-bg-color);
 }

.primary-select {
    font-family: 'inter', sans-serif;
    margin-top: 8%;
    padding: 2.5% 18%;
    border-radius: 5px;
    border-style: solid;
    border-color: #3f3f3f;
    color: #fff;
    border-width: 1.8px;
    transition: all 500ms;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 2%;
    width: 80%;
    text-wrap: wrap;
    font-weight: 400;
    background-color: #252525;
    font-size: 9pt;
}

.primary-btn img {
    width: 24px;
}

.brush-btn {
    padding: 10%;
    width: 50px;
    height: 50px;
}

.brush-btn:nth-child(2) .icon-btn {
    transform: scale(0.166667);
    transform-origin: center;
}

.brush-btn:nth-child(3) .icon-btn {
    transform: scale(0.333333);
    transform-origin: center;
}

.brush-btn:nth-child(4) .icon-btn {
    transform: scale(0.5);
    transform-origin: center;
}

.brush-btn:nth-child(5) .icon-btn {
    transform: scale(0.666667);
    transform-origin: center;
}

.brush-btn:nth-child(6) {
    margin-bottom: 20%;
}

.brush-btn.active {
    background-color: var(--secondary-contrast-color);
}

.brush-btn.active .icon-btn {
    fill: var(--primary-bg-color);
}

.primary-title {
    color: white;
    margin-bottom: 4%;
    font-size: 14pt;
}

#eraserBtn {
    padding: 12%;
    margin-bottom: 20%;
}

/*#drawingCounter {
    padding: 0.7rem;
    color: #fff;
    font-weight: 600;
    font-size: 16pt;
    border-style: solid;
    border-radius: 4px;
    border-color: var(--secondary-color);
    border-width: 1px;
    position: absolute;
    border-radius: 100px;
    box-shadow: #00000061 0px 0px 10px;
    margin-bottom: 680px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}*/

.option-brush {
    background-image: url('/static/images/player/bSize.png');
}

#phraseInput {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
}

#phraseInput button {
    width: max-content;
}

#swiperCombine {
    width: 550px;
}

.input-container {
    font-family: 'inter', sans-serif;
    border-style: solid;
    border-color: var(--primary-border-color);
    border-width: var(--default-border-width);
    color: #fff;
    transition: all 500ms;
    cursor: text;
    padding: 2% 4%;
    font-weight: 400;
    background-color: var(--primary-bg-color);
    font-size: 12pt;
 }

#phraseSelect {
    margin-top: 8%;
}

.matchup {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.matchup img {
    width: 70%;
}

.matchup span {
    margin-top: 5%;
    color: white;
}

#matchups {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
}

.player-vote {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-style: solid;
    border-color: var(--secondary-color);
    border-width: 1px;
    border-radius: 6px;
    padding: 4% 0;
    cursor: pointer;
}

.player-vote:hover {
    background-color: #252525;
    transition: all 500ms;
}

.player-vote.selected {
    background-color: #252525;
}

#round4 {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

#matchups.inactive {
    opacity: 0.5;
}

.message-screen {
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.message-screen img {
    width: 30%;
    margin-bottom: 6%;
}

.message-screen-span {
    font-size: 30pt;
    color: #f0f0f0;
    font-weight: 600;
}

.message-screen-p {
    font-size: 11pt;
    width: 60%;
    color: #8e8e8e;
    font-weight: 400;
    text-align: center;
}

@media (max-width: 768px) {
    .categories-container.phrases {
        width: 80vw; /* Largura para dispositivos móveis */
    }
    #drawingArea {
        flex-direction: column;
        width: 100vw;
    }
    .toolbar {
        order: 1;
        margin: 0;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
    }
    #eraserBtn {
        padding: 0;
        margin: 0;
    }
    #bucketBtn {
        padding: 0;
        margin: 0;
    }
    .primary-btn {
        margin: 0;
    }
    .brush-btn:nth-child(6) {
        margin: 0;
    }
    .tool-other {
        flex-direction: row;
        width: 100vw;
        justify-content: space-between;
    }
    .brush-btn {
        margin: 0;
    }
    .tool-colors {
        padding: 0;
        border-radius: 0;
        width: 100%;
    }
    .actual-color {
        display: none;
    }
    .toolbar.color {
        width: 100vw;
        max-width: 100vw;
        overflow-x: scroll;
    }
    .tool-colors {
        display: flex;
        align-items: center;
        gap: 12px;
        padding: 0 12px;
        margin-left: auto;
        width: max-content;
        height: min-content;
        max-height: 7vh;
        flex-wrap: nowrap;
        border-width: var(--default-border-width) 0 var(--default-border-width) 0;
    }
    .tool-colors input {
        margin: 0;
        order: -1;
    }
    .drawing-section {
        max-width: 90vw;
    }
    #drawingArea {
        position: relative;
        top: -4vh;
    }
}

.swiper-button-next .swiper-button-prev {
    color: var(--swiper-navigation-color, var(--primary-border-color))
}