@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {  
    --rotateY: 0deg;
    --rotateX: 0deg;
    --primary-bg-color: #292929;
    --primary-border-color: #6b6b6b;
    --default-border-width: 1.8px;
    --lateral-menu-width:  25vw;
    --contrast-color: #fe5423;
    --secondary-contrast-color: #f1f1f1;
    --transparent: #00000000;
}

body {display: flex;margin: 0; width: 100vw; height: 100vh; overflow: hidden; background-color: var(--primary-bg-color); font-family: 'Inter', sans-serif;}
canvas { display: block; position: absolute; }

footer {
    background-color: var(--primary-bg-color);
    position: absolute;
    bottom: 0;
    height: 4vh;
    border-color: var(--primary-border-color);
    border-width: var(--default-border-width) 0 0 0;
    border-style: solid;
    z-index: 99;
    width: 99vw;
    padding: 0 1vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

#footer.waiting-room {
    background-color: var(--contrast-color);
    z-index: 101;
    border-style: none;
}

#footer.waiting-room span {
    color: #f1f1f1;
    font-size: 10pt;
    font-weight: 200;
}

#lateralMenu.waiting-room {
    height: 94vh;
}


a {
    font-weight: 200;
    color: white;
    text-decoration: none;
    font-size: 9.5pt;
    padding: 0.2rem 0.4rem;
    display: flex;
    user-select: none;
}

a svg {
    width: 15px;
    height: auto;
    padding-right: 3%;
}

.icon-a {
    fill: white;
}

a:hover {color: var(--primary-bg-color);background-color: var(--contrast-color);}
a:hover .icon-a {fill: var(--primary-bg-color);}

.a-list-menu {
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    text-wrap: nowrap;
}

.footer-element {
    display: flex;
    width: max-content;
    text-wrap: nowrap;
}

#lateralMenu {
    position: absolute;
    width: 24.3rem;
    transform: translateX(calc(-1 * 26rem));
    height: 100vh;
    border-style: solid;
    border-width: 0;
    border-color: var(--primary-border-color);
    background-color: var(--primary-bg-color);
    display: flex;
    transition: all 500ms;
    flex-direction: column;
    padding: 0.7rem;

    left: 0;
    z-index: 100;
}
#lateralMenu.active {transform: translateX(0); border-width: 0 var(--default-border-width) 0 0;}

#inside {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo {
    width: 130px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10000;
    padding: 1%;
}

.menu-part:first-child {
    height: 93vh;
}

.menu-container1 {
    width: 100%;
    height: 35%;
    background-color: var(--contrast-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    clip-path: polygon(0 0, 100% 0, 94% 10%, 100% 19%, 100% 100%, 9% 100%, 0 88%);
}

.menu-container1 img {
    width: 70%;
}

.menu-description {
    border-width: var(--default-border-width);
    border-color: var(--primary-border-color);
    border-style: dashed;
    color: white;
    font-size: 9pt;
    gap: 12px;
    padding: 12px 12px;
    display: flex;
    flex-direction: column;
}
.menu-description p {margin: 0;}
.menu-description label {opacity: 0.8;}

.categories-container {
    display: flex;
    flex-flow: wrap;
    width: 100%;
    gap: 0.4rem;
}

.categories-element {
    padding: 2% 6%;
    background-color: var(--secondary-contrast-color);
    color: var(--primary-bg-color);
    font-size: 9pt;
    width: fit-content;
}

.button-container {
    align-self: flex-start;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 12px;
}

.game-btn {
    font-weight: 300;
    font-size: 16pt;
    background-color: #1e1e1e;
    border-style: none;

    font-family: 'inter', sans-serif;
    text-wrap: nowrap;
    color: #fff;
    width: 100%;
    padding: 12px 0px;
    border-width: 1.8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.game-btn:hover {
    background-color: #f1f1f1;
    color: black;
}

.game-btn:last-child {
    background-color: var(--secondary-contrast-color);
    color: var(--primary-bg-color);
}

.game-btn:last-child:hover {
    background-color: var(--contrast-color);
    color: var(--secondary-contrast-color);
}

#errorContainer {
    width: 100%;
    height: 20px;
    background-color: darkred;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    opacity: 0;
    top: 0;
}
#errorContainer.appear {
    animation: errorAppear 2000ms ease-in-out forwards;
}
#errorMsg {
    color: white;
}

.menu-inicial {
    display: flex;
    width: 100%;
    justify-content: center;
    position: absolute;
    z-index: 1;
    align-items: center;
    height: 100%;
    flex-direction: column;
    gap: 7%;
}

#btnElement {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.no-style-btn {
    border-style: none;
    font-size: 9.5pt;
    border-color: none;
    border-image: initial;
    background-color: #00000000;
    color: #18252A;
    padding: 0;
    border-radius: 6px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

.cardboard {
    width: 8%;
    filter: drop-shadow(0 17px 10px #00000040);
    transition: all 700ms ease-in;
    animation: floatingCardboard 3s ease-in-out infinite;
}

#cardboard.caindo {
    animation: fallingCardboard 1.5s ease-in-out forwards;
}

#fullscreen{
    width: 2%;
    padding: 1%;
    position: absolute;
    cursor: pointer;
    z-index: 100;
    top: 0;
}

#cardboardOpen {
    width: 40vw;
    height: 40vw;
    display: flex;
    position: relative;
    right: 0;
    transition: all 1000ms ease-out;
    background-image: url('/static/images/index/box\ open.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    filter: drop-shadow(0 0 20px #00000090);
}
.primary-btn {
    font-weight: 300;
    font-size: 16pt;
    background-color: #1e1e1e;
    border-style: none;

    font-family: 'inter', sans-serif;
    text-wrap: nowrap;
    margin-top: 8%;
    padding: 8% 12%;
    color: #fff;
    border-width: 1.8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.primary-btn:hover {
    background-color: #f1f1f1;
    color: black;
}
.primary-btn.desappear {
    display: none;
}

.primary-btn img {
    margin-left: 0.5vw;
    width: 30px;
}


#btnElement {
    opacity: 1;
    transition: all 500ms;
}

#btnElement.desappear {
    opacity: 0;
}

#PCGame {
    background-image: url('/static/images/index/pc\ game.png');
    width: 11vw;
    background-size: 100%;
    align-self: flex-start;
    aspect-ratio: 0.41 /1;
    margin: 0 3vw;
    left: 0;
    background-position: center;
    background-repeat: no-repeat;
    transform: scale(0.7);
    z-index: 2;
    position: absolute;
    cursor: pointer;
    filter: drop-shadow(10px 10px 15px #00000070);
    transition: all 500ms;
}
#PCGame:hover {
    transform: scale(0.73);
    filter: drop-shadow(10px 10px 23px #00000090);
}
#PCGame.ativo {
    opacity: 0.2;
    transform: scale(0.73);
    filter: drop-shadow(10px 10px 23px #00000000);
}
#cardboardContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 800px;
    height: 800px;
    position: relative;
    top: 1000px;
    transition: all 750ms ease-out;
    z-index: 2;
}
#cardboardContainer.aparecendo {
    top: 0;
}
#cardboardContainer.menu-active {
    margin-left: var(--lateral-menu-width);
    transition: all 500ms ease-out;
}
#cardboardContainer:hover {
    animation: hoverCardboard 200ms ease-in-out forwards;
}

.inativo {
    position: absolute;
    z-index: 98;
    width: 100vw;
    height: 100vh;
    background-color: #00000059;
}

@keyframes floatingCardboard {
    0% {
        transform: translateY(0);
    }
    
    50% {
        transform: translateY(-20px);
        filter: drop-shadow(0 40px 15px #00000030);
    }
    
    100% {
        transform: translateY(0);
    }
}
@keyframes fallingCardboard {
    0% {
    }
    
    100% {
        transform: translateY(1000px);
        filter: drop-shadow(0 0px 0px #00000030);
    }
}
@keyframes errorAppear {
    0% {
        opacity: 0;
    }
    
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes hoverCardboard {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(1deg);
    }
    75% {
        transform: rotate(-1deg);
    }
}

@media (min-aspect-ratio: 16/9) {
    #cardboardOpen {
        width: 80vw;
        height: 80vh;
    }
    #PCGame {
        margin: 0 3vw;
        width: 22vw;
        max-width: 220px;
    }
  }

@media (max-aspect-ratio: 9/16) {
    #cardboardOpen {
        width: 80vw;
        height: 80vw;
    }
    #PCGame {
        margin: 0 5vw;
        width: 22vw;
        max-width: 220px;
    }
    .game-btn:last-child {
        background-color: var(--secondary-contrast-color);
        color: var(--primary-bg-color);
        display: none;
    }
    #lateralMenu {
        width: 80vw;
        height: 93vh;
    }
    #logo {
        z-index: 1;
        width: 90px;
    }
    .cardboard {
        width: 30%;
    }
}

@media (min-aspect-ratio: 16/9) {
    #cardboardOpen {
        width: 80vw;
        height: 80vh;
    }
    #PCGame {
        margin: 0 3vw;
        width: 22vw;
        max-width: 220px;
    }
  }

@media (max-aspect-ratio: 9/16) {
    :root {
        --default-border-width: 1px
    }
    #cardboardOpen {
        width: 80vw;
        height: 80vw;
    }
    #PCGame {
        margin: 0 5vw;
        width: 22vw;
        max-width: 220px;
    }
    .game-btn:last-child {
        background-color: var(--secondary-contrast-color);
        color: var(--primary-bg-color);
        display: none;
    }
    .menu-part:last-child {
        padding-bottom: 24px;
    }
    #lateralMenu {
        width: 80vw;
        height: 100%;
        overflow: scroll;
    }
    #logo {
        z-index: 1;
        width: 90px;
    }
    #footer {
        justify-content: center;
    }
    .footer-element:first-child {
        display: none;
    }
}

@media screen and (min-width: 1280px) {
    #cardboardOpen {
        width: 80vw;
        height: 80vh;
    }
    #PCGame {
        margin: 0 3vw;
        width: 22vw;
        max-width: 220px;
    }
}

@media screen and (max-width: 720px) {
    :root {
        --default-border-width: 1px
    }
    #cardboardOpen {
        width: 80vw;
        height: 80vw;
    }
    #PCGame {
        margin: 0 5vw;
        width: 22vw;
        max-width: 220px;
    }
    .game-btn:last-child {
        background-color: var(--secondary-contrast-color);
        color: var(--primary-bg-color);
        display: none;
    }
    .menu-part:last-child {
        padding-bottom: 24px;
    }
    #lateralMenu {
        width: 80vw;
        height: 100%;
        overflow: scroll;
    }
    #logo {
        z-index: 1;
        width: 90px;
    }
    #footer {
        justify-content: center;
    }
    .footer-element:first-child {
        display: none;
    }
}
