@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {  
    --rotateY: 0deg;
    --rotateX: 0deg;
    --primary-bg-color: #292929;
    --primary-border-color: #6b6b6b;
    --default-border-width: 1.8px;
    --lateral-menu-width:  25vw;
    --contrast-color: #fe5423;
    --secondary-contrast-color: #f1f1f1;
    --transparent: #00000000;
}


body {display: flex; align-items: center; justify-content: center; margin: 0; width: 100vw; height: 100vh; overflow: hidden; background-color: var(--primary-bg-color); font-family: 'Inter', sans-serif;}
canvas { display: block; position: absolute; }

h1 {
    color: white;
    margin-top: 0;
    margin-bottom: 20%;
}

#logo {
    width: 150px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 10000;
    padding: 1%;
}

label {
    color: white;
    opacity: 0.3;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-style: dashed;
    border-width: var(--default-border-width);
    border-color: var(--primary-border-color);
    padding: 3% 4%;
}

.input-container {
    font-family: 'inter', sans-serif;
    border-style: solid;
    border-color: var(--default-border-width);
    border-color: var(--primary-border-color);
    border-width: var(--default-border-width);
    color: #fff;
    cursor: pointer;
    transition: all 500ms;
    cursor: text;
    padding: 4% 6%;
    font-weight: 600;
    background-color: var(--primary-bg-color);
    font-size: 20pt;
    text-align: center;
 }

#errorContainer {
    width: 100%;
    height: 20px;
    background-color: darkred;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    opacity: 0;
    top: 0;
}
#errorContainer.appear {
    animation: errorAppear 2000ms ease-in-out forwards;
}
#errorMsg {
    color: white;
}

.menu-inicial {
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
}

.no-style-btn {
    border-style: none;
    font-size: 9.5pt;
    border-color: none;
    border-image: initial;
    background-color: #00000000;
    color: #18252A;
    padding: 0;
    border-radius: 6px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

.cardboard {
    width: 8%;
    filter: drop-shadow(0 17px 10px #00000040);
    transition: all 700ms ease-in;
    animation: floatingCardboard 3s ease-in-out infinite;
}

#cardboard.caindo {
    animation: fallingCardboard 1.5s ease-in-out forwards;
}

#fullscreen{
    width: 2%;
    padding: 1%;
    position: absolute;
    cursor: pointer;
    z-index: 100;
    top: 0;
}

#cardboardOpen {
    width: 800px;
    height: 810px;
    display: flex;
    position: relative;
    right: 0;
    transition: all 1000ms ease-out;
    background-image: url('/static/images/index/box\ open.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    filter: drop-shadow(0 0 20px #00000040);
}
.primary-btn {
    font-weight: 300;
    font-size: 14pt;
    background-color: #1e1e1e;
    border-style: none;

    font-family: 'inter', sans-serif;
    text-wrap: nowrap;
    margin-top: 8%;
    padding: 4% 8%;
    color: #fff;
    border-width: 1.8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
}
.primary-btn:hover {
    background-color: #f1f1f1;
    color: black;
}
.inativo {
    position: absolute;
    z-index: 99;
    width: 100vw;
    height: 100vh;
    background-color: #00000059;
}

.menu-part1 {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 54%;
    height: 95%;
}
.menu-part1 select {
    position: absolute;
    top: 0;
    left: 0;
    margin: 3%;
    font-size: 8pt;
    background-color: rgb(0 0 0 / 60%);
    color: rgba(255, 255, 255, 0.75);
    border-radius: 100px;
    padding: 0.5%;
    border-style: none;
    z-index: 2;
}
.menu-part1 button {
    position: absolute;
    display: none;
    margin-bottom: 30%;
    z-index: 2;
    height: 80px;
    width: 80px;
    color: #ffffffbf;
    border-style: none;
    background: none;
}

.menu-part1 img {
    height: 40px;
    background: none;
    opacity: 0.8;
}

.menu-part1 p {
    background-color: rgb(0 0 0 / 60%);
    position: absolute;
    width: 48%;
    margin: 0;
    margin-bottom: 1%;
    padding: 2%;
    border-radius: 8px;
    color: rgba(255, 255, 255, 0.75);
    font-size: 9pt;
}
.menu-video-player {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border-style: solid;
    border-width: 1.8px;
    border-color: #3f3f3f;
    height: 100%;
    width: 100%;
    background-image: url('/static/images/thumbnail1.png');
    background-position: center;
    background-size: 100%;
    transition: filter 250ms ease-in-out;
}
.menu-video-player:hover {
    filter: brightness(0.6);
    transition: filter 0ms ease-in-out;
}
.menu-part2 {
    width: 42%;
    height: 95%;
    border-radius: 8px;
    border-width: 1.8px;
    border-style: solid;
    border-color: #3f3f3f;
    background-image: url('/static/images/background.png');
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    transform-style: preserve-3d;
    transform: 
      perspective(5000px)
      rotateY(var(--rotateY))
      rotateX(var(--rotateX));
}
.menu-part2 img {
    width: 80%;
}

.menu-part2:hover {
    transform: 
    perspective(5000px)
    rotateY(var(--rotateY))
    rotateX(var(--rotateX))
    scale(1.023);
    filter: drop-shadow(0 0 5px #0000008d);
}

.sub-menu-part2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.categories-container {
    display: flex;
    flex-flow: wrap-reverse;
    width: 90%;
    gap: 2%;
    margin-bottom: 3%;
}

.categories-element {
    padding: 2% 6%;
    background-color: var(--secondary-contrast-color);
    color: var(--primary-bg-color);
    font-size: 9pt;
    width: fit-content;
}
.play-game-btn {
    width: 90%;
    border-style: solid;
    border-radius: 30px;
    padding: 4%;
    margin-bottom: 3%;
    border-style: solid;
    border-width: 1.8px;
    border-color: #3f3f3f;
    font-weight: 600;
    background-color: #1e1e1e;
    color: white;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}
.play-game-btn:hover {
    background-color: #252525;
}


@keyframes floatingCardboard {
    0% {
        transform: translateY(0);
    }
    
    50% {
        transform: translateY(-20px);
        filter: drop-shadow(0 40px 15px #00000030);
    }
    
    100% {
        transform: translateY(0);
    }
}
@keyframes fallingCardboard {
    0% {
    }
    
    100% {
        transform: translateY(1000px);
        filter: drop-shadow(0 0px 0px #00000030);
    }
}
@keyframes errorAppear {
    0% {
        opacity: 0;
    }
    
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes hoverCardboard {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(1deg);
    }
    75% {
        transform: rotate(-1deg);
    }
}

@media (max-width: 768px) {
    :root {
        --default-border-width: 1px
    }
    .menu-inicial {
        width: 80%;
        padding: 1%;
        border-collapse: collapse;
    }
    form {
        border-style:dashed;
        border-left-width: var(--default-border-width);
        border-right-width: var(--default-border-width);
    }
}