body {
   font-family: Arial, sans-serif;
   margin: 0;
   padding: 0;
   display: flex;
   overflow: hidden;
   height: 100vh;
   background-color: #f0f0f0;
   flex-direction: column;
   background-image: url('/static/images/background.png');
   background-size: cover;
}
.container {
   width: 80%;
   background-color: #fff;
   padding: 20px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   border-radius: 8px;
}
.player-combinations {
   margin-bottom: 20px;
}
.player-combinations h2 {
   margin-bottom: 10px;
}
.combination {
   display: flex;
   align-items: center;
   margin-bottom: 10px;
}
.combination img {
   max-width: 100px;
   margin-right: 20px;
}
.combination p {
   margin: 0;
}
#timer {
   display: none;
   margin: 2vw;
   padding: 1vw;
   font-size: 18pt;
   font-weight: 600;
   position: absolute;
   background-color: #f0f0f0;
   border-radius: 7%;
   left: -100px;
   transition: all 0.5s;
}
#playerList {
   border-radius: 5px;
   margin: 2%;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   gap: 2%;
}
.fodao {
   padding: 1% 5%;
   border-radius: 5px;
   box-shadow: inset 0px 0px 10px 0px #3c1a06;
   opacity: 1;
}

.primary-btn {
   font-family: 'inter', sans-serif;
   font-weight: 800;
   font-size: 12pt;
   margin-top: 8%;
   padding: 4% 52%;
   border-radius: 5px;
   border-style: solid;
   border-color: #3f3f3f;
   background-color: #1e1e1e;
   color: #fff;
   border-width: 1.8px;
   cursor: pointer;
   transition: all 500ms;
   width: 100%;
}

.primary-btn.desappear {
   display: none;
}

.primary-btn img {
   margin-left: 0.5vw;
}

.primary-btn:hover {
   background-color: #252525;
   transition: all 500ms;
}

.iluminacao {
   position: absolute;
   transform: scale(1.8);
   mix-blend-mode: soft-light;
   z-index: -123;
}

.sign {
   width: 160px;
   height: 70px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 2%;
   color: #f0f0f0;
   font-weight: 600;
   filter: drop-shadow(0px 4px 2px #00000030);
   font-size: 14pt;
   background-size: 92%;
   background-repeat: no-repeat;
   background-position: center;
   background-image: url('/static/images/plaquinha.png');
}

h1 {
   color: #f0f0f0;
   position: absolute;
}
.inside {
   height: 100vh;
   justify-content: center;
   display: flex;
   flex-direction: column;
   align-items: center;
}
#timer.appear {
   transition: all 0.5s;
   left: 0;
}
.menu-inicial {
   display: flex;
   justify-content: center;
   z-index: 200;
   align-items: center;
}

.no-style-btn {
   border-style: none;
   font-size: 9.5pt;
   border-color: none;
   border-image: initial;
   background-color: #00000000;
   color: #fff;
   padding: 0;
   border-radius: 6px;
   font-family: "Inter", sans-serif;
   font-weight: 400;
   width: 100%;
   text-wrap: nowrap;
   text-overflow:ellipsis; 
   white-space:nowrap; 
   overflow:hidden;
}

.menu-inicial button {
   font-weight: 500;
   font-size: 18pt;
   cursor: pointer;
   text-wrap: nowrap;
   align-items: center;
   justify-content: center;
   display: flex;
}

.menu-inicial button:hover {
   color: #fff;
   cursor: pointer;
}

.menu-inicial img {
   height: 24px;
   width: 50px;
   padding-left: 3.5%;
}
#startButton.translate{
   position: relative;
   transition: all 0.5s;
   padding: 0;
   height: 0;
   background-color: none;
   transform: translateY(500px);
}
.matchup {
   display: flex;
   justify-content: center;
   width: 100%;
   transition: all 500ms ease-in;
   gap: 150vw;
}
.matchup.appear{
   gap: 18vw;
   transition: all 500ms ease-in;
}
#matchups{
   width: 100%;
}
.fodinha {
   filter: drop-shadow(0 0 30px #000000b1);
   display: flex;
   align-items: center;
   flex-direction: column;
}
.drawings {
   width: 446px;
   background-repeat: no-repeat;
   background-position: center;
   filter: brightness(0.6);
}
.drawings.perdedor {
   animation: caindo 900ms ease-in forwards;
   z-index: 2;
}
.phrases.perdedor {
   animation: caindo 900ms ease-in 500ms forwards;
}
.phrases {
   margin-top: 3%;
   padding: 3% 5%;
   border-radius: 5px;
   background-color: #f0f0f0;
   filter: brightness(1);
}
.drawing-hold {
   width: 446px;
   background-repeat: no-repeat;
   background-position: center;
   filter: brightness(0.6);
}

.phrases-hold {
   margin-top: 3%;
   padding: 3% 5%;
   border-radius: 5px;
   background-color: #f0f0f0;
   filter: brightness(0.6);
}

.character-image {
   width: 150px;
   filter: drop-shadow(0px 4px 2px #00000030);
   padding-bottom: 5%;
}

.player-container {
   border-radius: 12px;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

#inside {
   transition: all 700ms;
}

#inside.ofuscado {
   backdrop-filter: blur(10px);
}

   #playerList {
      transition: all 700ms;
   }

#playerList.ofuscado {
   filter: blur(10px);
}

#rounds.aparecendo {
   animation: wave 4s forwards;
}

@keyframes caindo {
   0% {
      transform: rotateZ(0deg);
      transform-origin: top left;
   }
   15% {
      transform: translateY(0) rotateZ(20deg);
   }
   30% {
      transform: translateY(0) rotateZ(20deg);
   }
   100% {
      transform: translateY(100vw) rotateZ(20deg);
   }
}

@keyframes wave {
   0%, 100% {
       transform: translateY(-20vh) rotate(0deg);
       filter: url(#wave);
   }
   20% {
      transform: translateY(40vh) rotate(0deg);
   }
   80% {
      transform: translateY(40vh) rotate(0deg);
   }
}

#fullscreen{
   width: 2%;
   padding: 1%;
   right: 0;
   position: absolute;
   cursor: pointer;
   z-index: 105;
   top: 0;
}

#rounds {
   position: absolute;
   width: 30%;
   align-self: center;
   z-index: 101;
   transition: all 600ms ease-in;
   transform: translateY(-20vh);
}

#rounds.aparecendo {
   transition: all 600ms ease-out;
   transform: translateY(40vh);
}

#logo {
   position: absolute;
   height: 80vh;
   align-self: center;
   transition: all 600ms ease-in;
   filter: brightness(0.2);
   z-index: 101;
   transform: translateY(-70vh);
}

#logo.aparecendo {
   position: absolute;
   height: 80vh;
   align-self: center;
   transition: all 600ms ease-out;
   filter: brightness(0.6);
   transform: translateY(10vh);
}

#show {
   position: absolute;
   height: 80vh;
   align-self: center;
   transition: all 700ms ease-in;
   filter: brightness(0.2);
   z-index: 101;
   transform: translateY(80vh);
}

#show.aparecendo {
   position: absolute;
   height: 80vh;
   align-self: center;
   transition: all 700ms ease-out;
   filter: brightness(0.6);
   transform: translateY(10vh);
}

#iluminacao {
   position: absolute;
   height: 80vh;
   display: none;
   align-self: center;
   z-index: 102;
   opacity: 0.9;
   filter: blur(5px);
   transform: translateY(10vh);
   mix-blend-mode: screen;
}

#iluminacao.aceso {
   opacity: 0.9;
   display: block;
}

.iluminacao-matchup {
   position: absolute;
   z-index: 102;
   opacity: 0.9;
   height: 70vh;
   width: 70vh;
   display: block;
   transform: translateY(0);
   filter: blur(70px);
   mix-blend-mode: screen;
   height: 80vh;
   display: none;
   align-self: center;
}

.iluminacao-matchup.aceso {
   opacity: 0.9;
   display: block;
}

#circle {
   position: fixed;
   top: 50%;
   left: 50%;
   width: 200vw;
   height: 200vh;
   background-color: rgba(0, 0, 0, 0);
   z-index: 100;
   border-radius: 50%;
   border: solid 100vw black; /* Cria as bordas pretas ao redor do círculo transparente */
   transform: translate(-50%, -50%);
}

#circle.open {
   animation: openCircle 1.2s ease-in forwards;
}

#circle.close {
   animation: closeCircle 1.2s ease-out forwards;
}

@keyframes closeCircle {
   from {
       width: 200vw;
       height: 200vw;
       border-width: 100vw; /* Borda inicial larga */
   }
   to {
       width: 0;
       height: 0;
       border-width: 100vw; /* Borda final fechando o círculo */
   }
}

@keyframes openCircle {
   from {
       width: 0;
       height: 0;
       border-width: 100vw; /* Borda final fechando o círculo */
   }
   to {
      width: 200vw;
      height: 200vw;
      border-width: 100vw; /* Borda inicial larga */
  }
}

#barreira {
   position: absolute;
   background-image: url(/static/images/barreira.png);
   background-size: 100%;
   background-repeat: repeat-x;
   background-position: bottom;
   filter: blur(2px);
   opacity: 0.92;
   height: 151px;
   width: 100%;
   bottom: 0;

}

#barreira.animada{
   animation: bounceBarreira 700ms ease-in-out infinite;
}

.voter-image {
   animation: bounceVote 500ms ease-in-out;
   width: 50px;
   filter: drop-shadow(0 4px 9px #000000b1);
}

@keyframes bounceVote {
   0% {transform: translateY(0px);}
   50% {transform: translateY(-10px);}
}

@keyframes aparecerIluminacao {
   from {transform: translateY(-70vh);}
   to {transform: translateY(10vh);}
}

@keyframes bounceBarreira {
   0% {transform: translateY(0px);}
   50% {transform: translateY(10px);}
}

body {
   backdrop-filter: brightness(1);
}

body.desligado {
   backdrop-filter: brightness(0.6);
}

.voters-container {
   position: absolute;
   height: 40px;
   width: 350px;
   display: flex;
   justify-content: center;
   flex-direction: row;
   filter: brightness(0.8);
   z-index: 2;
}

#subtitles {
   z-index: 100000;
   position: absolute;
   color: #fff;
   text-shadow: 0 3px black;
   bottom: 0;
   font-size: 14pt;
   text-align: center;
   padding-bottom: 1.7%;
   width: 100%;
}

.perdedor-container {
   z-index: -1;
   position: absolute;
   display: flex;
   align-self: center;
   align-items: center;
   justify-content: center;
   justify-self: center;
   flex-direction: column;
   top: 25%;
}

.perdedor-image {
   display: flex;
}

.perdedor-sign {
   display: flex;
   padding-top: 6%;
}

#playerListR2 {
   display: flex;
   position: absolute;
   z-index: 101;
   top: 50%;
   left: 50%;
   filter: brightness(0.7);

   transform: translate(-50%, -280%);
   transition: all 700ms;
}

#playerListR2.appear {
   transform: translate(-50%, -50%);
}